.addBuildContent{
  width: 100%;
}

mat-form-field{
  width: 80%;
}

img{
  width:30px;
  height: 30px;
  float: right;
  position: absolute;
  padding-left: 20px;
}

.saveButton{
  float: right;
  position: relative;
  right: -200px;
}

.cancelButton{
  float: right;
  position: relative;
  right: -190px;
}







