.mainContainer {
    width: 100%;
    height: 100%;
    margin: 10px;
    /* border: 1px solid #555; */
  }

.sidenav {
    width: 20%;
}

.statsButton {
    width: 90%;
}

button{
  width: 100%;
  text-align: left;
}

mat-expansion-panel{
  margin-top: 5px;
}
